<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
    <div th:fragment="sidebarFragment">
        <div class="border-end bg-white text-center" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-white"><img src="/img/goodsduck-mark.png" style="width: 3.5rem;"></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/item-upload">상품 등록</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">상품 삭제</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">아이돌그룹 추가</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">아이돌그룹 삭제</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">아이돌멤버 추가</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">아이돌멤버 추가</a>
            </div>
        </div>
    </div>
</html>
