<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
    <div th:fragment="sidebarFragment">
        <div class="border-end bg-white text-center" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-white"><img src="/img/goodsduck-mark.png" style="width: 3.5rem;"></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/items">굿즈 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/idol-groups">아이돌 그룹 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/idol-members">아이돌 멤버 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">카테고리 관리</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">x</a>
            </div>
        </div>
    </div>
</html>
