<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- search & add content wrapper -->
            <div class="card2 shadow m-5 p-4 d-flex" style="width:90px">

                <!-- category add button content -->
                <div>
                    <button type="submit" class="p-2 btn-primary" th:onclick="'location.href=\'/category/'+@{${type}}+'/add\''">
                        <i class="fas fa-plus fa-lg"></i>
                    </button>
                </div>

            </div>

            <!-- category table content -->
            <div class="card shadow m-5 p-5">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category,i:${categories}" class="align-middle" th:id="${category.id}">
                        <th scope="row" th:text="${category.id}">ID</th>
                        <td th:text="${category.name}">Name</td>
                        <td>
                            <button class="btn btn-warning" id="editBtn" th:onclick="'location.href=\'/category/'+@{${type}}+'/edit/'+${category.id}+'\''">
                                <i class="fas fa-edit ps-1 pb-1"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function deleteCategory(categoryType, categoryId) {
        if(confirm("삭제하시겠습니까?")) {
            $.ajax({
                type: "get",
                url: "/category/delete/" + categoryId,
            })
            .done(function(data) {
                if(data.success == 1) {
                    alert("삭제가 완료되었습니다.");
                    $("#" + categoryId).hide();
                    document.location.reload(true);
                }
            })
            .fail(function(data, error) {
                console.log(error);
            })
        } else {
            return false;
        }
    }
</script>

</html>
