<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- search & add content wrapper -->
            <div class="card2 shadow m-5 p-4 d-flex" style="width: 470px">

                <!-- search content -->
                <div style="width:400px;">
                    <form action="/item-categories" method="get">
                        <input type="text" name="search" id="search" class="p-2 me-2" value="(뭘로 검색할까?)" onclick="erase()" style="width:85%; border-radius: .2rem;">
                        <button type="submit" class="p-2 btn-success"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <!-- category add button content -->
                <div>
                    <button type="submit" class="p-2 btn-primary" th:onclick="'location.href=\'/category/'+@{${type}}+'/add\''">
                        <i class="fas fa-plus fa-lg"></i>
                    </button>
                </div>

            </div>

            <!-- category table content -->
            <div class="card shadow m-5 p-5">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category,i:${categories}" class="align-middle">
                        <th scope="row" th:text="${category.id}">ID</th>
                        <td th:text="${category.name}">Name</td>
                        <td>
                            <button class="btn btn-warning" id="editBtn" th:onclick="'location.href=\'/category/'+@{${type}}+'/edit/'+${category.id}+'\''">
                                <i class="fas fa-edit ps-1 pb-1"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function erase() {
        document.getElementById("search").value=null;
    }
</script>

</html>
