<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid" style="width:800px">

            <!-- idolGroup select form content -->
            <div class="card2 shadow m-5 p-5 d-flex flex-wrap justify-content-center">
                <button th:each="category,i:${categories}" class="btn border-info border-2 m-3"
                        th:onclick="'location.href=\'/category/'+@{${category.type}}+'\''">
                    <p th:text="${category.name}" class="m-3"></p>
                </button>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">

</script>

</html>
