<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- search & add content wrapper -->
            <div class="card2 shadow m-5 p-4 d-flex" style="width: 470px">

                <!-- search & add content -->
                <div style="width:100%;">
                    <form action="/idol-group" method="get" class="d-inline">
                        <input type="text" name="search" id="search" class="form-control d-inline p-2 me-2" value="그룹 이름으로 검색" onclick="erase()" style="width:73%;">
                        <button type="submit" class="mb-1 me-2 btn btn-success"><i class="fas fa-search"></i></button>
                    </form>
                    <button type="submit" class="mb-1 btn btn-primary" onclick="location.href='/idol-group/add'">
                        <i class="fas fa-plus fa-lg"></i>
                    </button>
                </div>

            </div>

            <!-- idolGroup table content -->
            <div class="card shadow m-5 p-5">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">이름</th>
                        <th scope="col">한글명</th>
                        <th scope="col">영문명</th>
                        <th scope="col">대표 이미지</th>
                        <th scope="col">수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="idolGroup,i:${idolGroups}" class="align-middle">
                        <th scope="row" th:text="${idolGroup.id}">ID</th>
                        <td th:text="${idolGroup.name}">Name</td>
                        <td th:text="${idolGroup.korName}">KorName</td>
                        <td th:text="${idolGroup.engName}">EngName</td>
                        <td>
                            <img th:src="${idolGroup.imageURL}" width="100rem" height="100rem">
                        </td>
                        <td>
                            <button class="btn btn-warning" id="editBtn" th:onclick="'location.href=\'/idol-group/edit/'+${idolGroup.id}+'\''">
                                <i class="fas fa-edit ps-1 pb-1"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 th:if="${success} == -1" class="text-center mt-4 text-danger">검색된 그룹이 없습니다.</h5>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function erase() {
        document.getElementById("search").value=null;
    }
</script>

</html>
