<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- search & add content wrapper -->
            <div class="card2 shadow m-5 p-4 d-flex" style="width: 470px">

                <!-- search & add content -->
                <div style="width:100%;">
                    <form action="/idol-member" method="get" class="d-inline">
                        <input type="text" name="search" id="search" class="form-control d-inline p-2 me-2" value="멤버 이름으로 검색" onclick="erase()" style="width:73%;">
                        <button type="submit" class="mb-1 me-2 btn btn-success"><i class="fas fa-search"></i></button>
                    </form>
                    <button type="submit" class="mb-1 btn btn-primary" onclick="location.href='/idol-group/add'">
                        <i class="fas fa-plus fa-lg"></i>
                    </button>
                </div>

            </div>

            <!-- idolMember table content -->
            <div class="card shadow m-5 p-5">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">이름</th>
                        <th scope="col">이미지</th>
                        <th scope="col">그룹명</th>
                        <th scope="col">대표 이미지</th>
                        <th scope="col">수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="idolMember,i:${idolMembers}" class="align-middle">
                        <th scope="row" th:text="${idolMember.id}">ID</th>
                        <td th:text="${idolMember.name}">Name</td>
                        <td>
                            <img th:src="${idolMember.imageURL}" width="100rem" height="100rem">
                        </td>
                        <td th:text="${idolMember.groupName}">Group Name</td>
                        <td>
                            <img th:src="${idolMember.groupImageURL}" width="100rem" height="100rem">
                        </td>
                        <td>
                            <button class="btn btn-warning" id="editBtn" th:onclick="'location.href=\'/idol-member/edit/'+${idolMember.id}+'\''">
                                <i class="fas fa-edit ps-1 pb-1"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 th:if="${success} == -1" class="text-center mt-4 text-danger">검색된 멤버가 없습니다.</h5>
            </div>

            <!-- pagination -->
            <div th:if="${success != -1}" class="d-flex justify-content-center">
                <nav th:if="${!idolMembers.isEmpty()}"
                     th:with="
                        pageSize = 10,
                        pageNumber = ${idolMembers.pageable.pageNumber},
                        totalPages = ${idolMembers.totalPages},
                        startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                        tempEndPage = ${startPage + pageSize - 1},
                        endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
                     aria-label="Page navigation"
                >
                    <ul class="pagination">
                        <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/idol-members(page=1)}">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>

                        <li th:classappend="${startPage - pageSize < 0} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/idol-members(page=${#numbers.formatDecimal(startPage - pageSize, 0, 0)})}" aria-label="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{/idol-members(page=${page})}"></a>
                        </li>

                        <li th:classappend="${startPage + pageSize > totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/idol-members(page=${#numbers.formatDecimal(startPage + pageSize, 0, 0)})}" aria-label="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>

                        <li th:classappend="${T(Math).floor(totalPages / 10) * 10 <= startPage} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/idol-members(page=${totalPages})}">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function erase() {
        document.getElementById("search").value=null;
    }
</script>

</html>
