<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- idolGroup add form content -->
            <div class="card shadow m-5 p-5">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group m-5">
                        <h4 class="mb-3">Name</h4>
                        <input type="text" class="form-control" style="height:50px">
                    </div>
                    <div class="form-group m-5">
                        <h4 class="mb-3">KorName</h4>
                        <input type="text" class="form-control" style="height:50px">
                    </div>
                    <div class="form-group m-5">
                        <h4 class="mb-3">EngName</h4>
                        <input type="text" class="form-control" style="height:50px">
                    </div>
                    <div class="form-group m-5">
                        <h4 class="mb-3">Image</h4>
                        <input type="file" class="form-control-file" style="height:50px">
                    </div>
                    <button class="btn btn-primary float-end me-5">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function erase() {
        document.getElementById("search").value=null;
    }

    function getValue() {
        return document.getElementById("search").value;
    }
</script>

</html>
