<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- dash board content -->
            <div class="card shadow m-4 ms-5 me-5">
                <div class="card-header border-dark py-3">
                    <h5 class="m-0 font-weight-bold text-dark text-center">Dash Board</h5>
                </div>
                <div class="row justify-content-evenly p-5 mt-3">
                    <div class="card shadow text-white bg-danger mb-3" style="max-width: 15rem; max-height: 15rem;">
                        <div class="card-header border-5 text-center">
                            <i class="fas fa-users"></i>&nbsp;&nbsp;USER
                        </div>
                        <div class="card-body m-4">
                            <h2 class="card-title text-center">
                                <p th:text="${userCount}" />
                            </h2>
                        </div>
                    </div>
                    <div class="card shadow text-white bg-warning mb-3" style="max-width: 15rem; max-height: 15rem;">
                        <div class="card-header border-5 text-center">
                            <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;ITEM
                        </div>
                        <div class="card-body m-4">
                            <h2 class="card-title text-center">
                                <p th:text="${itemCount}" />
                            </h2>
                        </div>
                    </div>
                    <div class="card shadow text-white bg-success mb-3" style="max-width: 15rem; max-height: 15rem;">
                        <div class="card-header border-5 text-center">
                            <i class="fas fa-pen"></i>&nbsp;&nbsp;POST
                        </div>
                        <div class="card-body m-4">
                            <h2 class="card-title text-center">
                                <p th:text="${postCount}" />
                            </h2>
                        </div>
                    </div>
                    <div class="card shadow text-white bg-primary mb-3" style="max-width: 15rem; max-height: 15rem;">
                        <div class="card-header border-5 text-center">
                            <i class="fas fa-music"></i>&nbsp;&nbsp;IDOL GROUP
                        </div>
                        <div class="card-body m-4">
                            <h2 class="card-title text-center">
                                <p th:text="${idolGroupCount}" />
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- chart wrapper1 -->
                <div class="col-xl-7 col-lg-6">
                    <div class="card shadow m-4 ms-5">
                        <div class="card-header border-dark py-3">
                            <h5 class="m-0 font-weight-bold text-dark text-center">TOP5 Best Selling Idol Group</h5>
                        </div>

                        <!-- chart content1 -->
                        <div class="card-body" th:each="idolGroup,i:${idolGroupTOP5}">
                            <h4 class="small font-weight-bold pt-4">
                                <span th:text="${idolGroup.name}"></span>
                                <span class="float-right">
                                    <span th:text="|${idolGroup.ratio}%|"></span>
                                </span>
                            </h4>
                            <div class="progress mb-4" th:if="${i.index eq 0}">
                                <div class="progress-bar bg-danger" role="progressbar"
                                     th:style="|width:${idolGroup.ratio}%|"
                                     th:attr="aria-valuenow=${idolGroup.ratio}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="progress mb-4" th:if="${i.index eq 1}">
                                <div class="progress-bar bg-warning" role="progressbar"
                                     th:style="|width:${idolGroup.ratio}%|"
                                     th:attr="aria-valuenow=${idolGroup.ratio}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="progress mb-4" th:if="${i.index eq 2}">
                                <div class="progress-bar bg-primary" role="progressbar"
                                     th:style="|width:${idolGroup.ratio}%|"
                                     th:attr="aria-valuenow=${idolGroup.ratio}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="progress mb-4" th:if="${i.index eq 3}">
                                <div class="progress-bar bg-info" role="progressbar"
                                     th:style="|width:${idolGroup.ratio}%|"
                                     th:attr="aria-valuenow=${idolGroup.ratio}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="progress mb-4" th:if="${i.index eq 4}">
                                <div class="progress-bar bg-success" role="progressbar"
                                     th:style="|width:${idolGroup.ratio}%|"
                                     th:attr="aria-valuenow=${idolGroup.ratio}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- chart wrapper2 -->
                <div class=" col-xl-5 col-lg-6">
                    <div class="card shadow m-4 me-5">
                        <div class="card-header border-dark py-3">
                            <h5 class="m-0 font-weight-bold text-dark text-center">Idol Group Fan Ratio</h5>
                        </div>

                        <!-- chart content2 -->
                        <div class="card-body">
                            <div class="mt-5 mb-5 pt-4 pb-4">
                                <canvas id="myPieChart" height="400vh"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="p-2">
                                    <i class="fas fa-circle text-primary"></i> Direct
                                </span>
                                <span class="p-2">
                                    <i class="fas fa-circle text-success"></i> Social
                                </span>
                                <span class="p-2">
                                    <i class="fas fa-circle text-info"></i> Referral
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- member wrapper -->
            <div class="card shadow m-4 ms-5 me-5">
                <div class="card-header border-dark py-3">
                    <h5 class="m-0 font-weight-bold text-dark text-center">Member</h5>
                </div>

                <!-- member content -->
                <div class="row justify-content-evenly p-5">
                    <div class="card border-0" style="width: 18rem;">
                        <img class="card-img-top" src="/img/kim.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card border-0" style="width: 18rem;">
                        <img class="card-img-top" src="/img/lee.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card border-0" style="width: 18rem;">
                        <img class="card-img-top" src="/img/park.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [55, 30, 15],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            cutoutPercentage: 80,
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
        },
    });
</script>
</html>
