<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<script layout:fragment="script" th:inline="javascript">
    /* <![CDATA[ */
    var type = /*[[${type}]]*/;
    var message = /*[[${message}]]*/;
    var categoryType = /*[[${categoryType}]]*/
    var redirectURL = /*[[${redirectURL}]]*/
    /* ]]> */

    if(type == "idolGroupAdd") {
        alert(message);
        window.location.href = "/idol-groups";
    } else if(type == "idolMemberAdd") {
        alert(message);
        window.location.href = "/idol-members";
    } else if(type == "idolGroupEdit") {
        alert(message);
        window.location.href = "/idol-groups";
    } else if(type == "idolMemberEdit") {
        alert(message);
        window.location.href = "/idol-members";
    } else if(type == "categoryAdd") {
        alert(message);
        window.location.href = `/category/${categoryType}`;
    } else if(type == "categoryEdit") {
        alert(message);
        window.location.href = `/category/${categoryType}`;
    } else if(type == "categoryDelete") {
        alert(message);
        window.location.href = `/category/${categoryType}`;
    } else if(type == "adminRegister") {
        alert(message);
        window.location.href = "/login";
    } else if(type == "loginFail" || type == "registerFail") {
        alert(message);
        window.location.href = "/login";
    } else if(type == "loginSuccess" ) {
        alert(message);
        window.location.replace(redirectURL);
    } else if(type == "logout") {
        alert(message)
        window.location.replace("/");
    } else if(type == "noticeEdit" || type == "noticeUpload" || type == "noticeDelete") {
        alert(message);
        window.location.href = "/notices";
    }
    // Upload 는 디테일보여줄꺼임
</script>

</html>
