<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<script layout:fragment="script" th:inline="javascript">
    /* <![CDATA[ */
    var type = /*[[${type}]]*/;
    var message = /*[[${message}]]*/;
    var categoryType = /*[[${categoryType}]]*/
    /* ]]> */

    if(type == "idolGroupAdd") {
        alert(message);
        window.location.href = "/idol-groups";
    } else if(type == "idolMemberAdd") {
        alert(message);
        window.location.href = "/idol-members";
    } else if(type == "idolGroupEdit") {
        alert(message);
        window.location.href = "/idol-groups";
    } else if(type == "idolMemberEdit") {
        alert(message);
        window.location.href = "/idol-members";
    } else if(type == "categoryAdd") {
        alert(message);
        window.location.href = `/category/${categoryType}`;
    } else if(type == "categoryEdit") {
        alert(message);
        window.location.href = `/category/${categoryType}`;
    }

</script>

</html>
