<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid d-flex justify-content-center">

            <!-- idolGroup add form content -->
            <div class="card shadow m-5 p-5" style="width:500px">
                <form th:action="'/notice/edit/'+${notice.id}+''" method="post" enctype="multipart/form-data">
                    <div class="form-group m-5">
                        <h5 class="mb-3">Title</h5>
                        <input type="text" class="form-control" name="title" th:value="${notice.title}">
                    </div>
                    <div class="form-group m-5">
                        <h5 class="mb-3">Content</h5>
                        <textarea class="form-control" name="content" th:text="${notice.content}"></textarea>
                    </div>
                    <button type="button" class="btn btn-danger float-end me-5 mt-5" th:onclick="'location.href=\'/notices\''">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </button>
                    <button class="btn btn-primary float-end me-3 mt-5">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    autosize($("textarea"));
</script>

</html>
