<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}">

<div layout:fragment="content">

    <!-- content wrapper -->
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- search content wrapper-->
            <div class="card shadow m-5 p-4" style="width:600px">

                <!-- search content -->
                <form action="/report" method="get">
                    <select class="form-select d-inline p-2 me-2" aria-label="Default select example" name="type" style="width:135px">
                        <option value="senderNickName">신고자</option>
<!--                        <option value="senderId">신고자 ID</option>-->
                        <option value="receiverNickName" selected>신고대상</option>
<!--                        <option value="receiverId" selected>신고대상 ID</option>-->
                    </select>
                    <input type="text" name="search" id="search" class="form-control p-2 me-2 d-inline" onclick="erase()" style="width:63%;">
                    <button type="submit" class="mb-1 btn btn-success"><i class="fas fa-search"></i></button>
                </form>

            </div>

            <!-- report table content -->
            <div class="card shadow m-5 p-5">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">신고자</th>
<!--                        <th scope="col">신고자 ID</th>-->
                        <th scope="col">신고대상</th>
<!--                        <th scope="col">신고대상 ID</th>-->
                        <th scope="col">카테고리</th>
                        <th scope="col">종류</th>
                        <th scope="col">날짜</th>
                        <th scope="col">처리</th>
                        <th scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report,i:${reports}" class="align-middle">
                        <th scope="row" th:text="${report.id}">ID</th>
                        <td th:text="${report.sender.nickName}">SenderNickname</td>
<!--                        <td th:text="${report.sender.id}">SenderID</td>-->
                        <td th:text="${report.receiver.nickName}">ReceiverNickname</td>
<!--                        <td th:text="${report.receiver.id}">ReceiverID</td>-->
                        <td th:text="${report.categoryName}">CategoryName</td>
                        <td th:text="${report.reportType}">ReportType</td>
                        <td th:text="${report.reportDate}">ReportDate</td>
                        <td>
                            <button class="btn btn-warning" id="reportBtn" th:onclick="'checkReport('+${report.id}+')'">
                                <i class="fas fa-bullhorn"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" id="deleteBtn" th:onclick="'deleteReport('+${report.id}+')'">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 th:if="${success == -1}" class="text-center mt-4 text-danger">검색된 신고가 없습니다.</h5>
            </div>

            <!-- pagination -->
            <div th:if="${success != -1}" class="d-flex justify-content-center">
                <nav th:if="${!reports.isEmpty()}"
                     th:with="
                        pageSize = 10,
                        pageNumber = ${reports.pageable.pageNumber},
                        totalPages = ${reports.totalPages},
                        startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                        tempEndPage = ${startPage + pageSize - 1},
                        endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
                     aria-label="Page navigation"
                >
                    <ul class="pagination">
                        <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/reports(page=1)}">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>

                        <li th:classappend="${startPage - pageSize < 0} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/reports(page=${#numbers.formatDecimal(startPage - pageSize, 0, 0)})}" aria-label="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{/reports(page=${page})}"></a>
                        </li>

                        <li th:classappend="${startPage + pageSize > totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/reports(page=${#numbers.formatDecimal(startPage + pageSize, 0, 0)})}" aria-label="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>

                        <li th:classappend="${T(Math).floor(totalPages / 10) * 10 <= startPage} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/reports(page=${totalPages})}">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    function erase() {
        document.getElementById("search").value=null;
    }

    function deleteReport(reportId) {
        if(confirm("신고를 삭제하시겠습니까?")) {
            $.ajax({
                type: "get",
                url: "/report/delete/" + reportId,
            })
            .done(function(data) {
                if(data.success == 1) {
                    $("#" + reportId).hide();
                    document.location.reload(true);
                } else {
                    alert("신고 삭제에 실패했습니다.");
                }
            })
            .fail(function(data, error) {
                console.log(error);
            })
        } else {
            return false;
        }
    }

    function checkReport(reportId) {
        if(confirm("신고를 처리하시겠습니까?")) {
            $.ajax({
                type: "get",
                url: "/report/check/" + reportId,
            })
            .done(function(data) {
                if(data.success == 1) {
                    $("#" + reportId).hide();
                    document.location.reload(true);
                } else {
                    alert("신고 처리에 실패했습니다.");
                }
            })
            .fail(function(data, error) {
                console.log(error);
            })
        } else {
            return false;
        }
    }
</script>

</html>
